
  <section class="home">
  <div class="bgScroll"></div>
    <div class="overlay opacity7"></div>
    <div class="container">
  <div class="texto_principal">
    <div class="contenido-texto">
        <h1>Capacita a tu equipo</h1>
        <H1>HVAC SYSTEMS SUPPORT</H1>

        <button routerLink="/home"style="width: 115px;height: 55px;" class='btn btn-primary'>INICIO</button>

    </div>
    <div class="mantenimiento_img">
        <img  src="../../../assets/imagenes/mantenimiento.png" style="height: 55vh;" alt="">
    </div>
    
  </div>
 
  <div class="row tarjetas_presentacion">
    <div class="col-6 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/imagenes/DISE;O.jpg" height="230px;" class="card-img-top" alt="...">
            <h5 style="text-align: center; color: rgb(0, 0, 0); font-weight: bold;">DISEÑO</h5>
          </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/imagenes/mantenimiento.png" height="230px;" class="card-img-top" alt="...">
            <h5 style="text-align: center; color: rgb(0, 0, 0);font-weight: bold;">MANTENIMIENTO</h5>
          </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/imagenes/CAPACITACION.jpg" height="230px;" class="card-img-top" alt="...">
            <h5 style="text-align: center; color: rgb(0, 0, 0);font-weight: bold;">CAPACITACI&Oacute;N</h5>
          </div>
    </div>
  </div>
       
  
    </div>
  </section>
  