

<div class="container">
    <h2>Formulario para nuevos pasos mantenimiento split</h2>
<form (submit)="submit()" [formGroup]="form">




  
  <div formArrayName="preguntas" *ngFor="let pregunta of preguntas.controls; let i = index">
    <div [formGroupName]="i">
      <div class="form-group row" style="margin-top: 1rem;">
       
        <label class="col-md-1" [attr.for]="'paso' + i">Paso {{i}}</label>
        <div class="col-md-4">
          <input type="text" [attr.id]="'paso' + i" class="form-control" formControlName="descripcionP">
        </div>
        <label class="col-md-1" [attr.for]="'archivoD' + i">archivo</label>
        <div class="col-md-1">
          <input type="text" [attr.id]="'archivoD' + i" class="form-control" formControlName="archivoD">
        </div>
        <label class="col-md-1" [attr.for]="'imagen' + i">Imagen</label>
        <div class="col-md-1">
          <input type="text" [attr.id]="'imagen' + i" class="form-control" formControlName="imagen">
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" >Agregar archivo</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-danger" >Agregar imagen</button>
          </div>
        <div class="col-md-1">
          <button class="btn btn-danger" (click)="removerPregunta(i)">Remover</button>
        </div>
       
      </div>
    </div>
  </div>
<br>

  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Enviar</button>
  <button type="button" class="btn btn-default" (click)="refrescar()">Refrescar</button>
  <div class="form-group">
    <a class="btn btn-primary" (click)="agregarPregunta()">Agregar Pregunta</a>
  </div>
 

</form>
</div>





<table *ngFor="let bit of pregunta; trackBy: trackByFn " class="table table-hover table-primary">

  <thead>

    <tr>
      
      <th scope="col">paso</th>
      <th scope="col">descripcion</th>
      <th scope="col">archivo</th>
      <th scope="col">imagen</th>
    
    </tr>
  </thead>
  <tbody  >

  
    <tr  *ngFor="let element of bit.preguntas;let i=index">
     
      <td>paso</td>
      <td>{{ element['descripcionP']}}</td>
      <td>{{ element['archivoD']}}</td>
      <td>{{ element['imagen']}}</td>
      <td>{{bit.preguntas[i]['descripcionP']}}</td>
      


    </tr>


  </tbody>
  <td><button routerLink="/actualizar/{{bit.id}}">modificar coleccion</button></td>
  <td><button (click)="eliminar(bit.id)">eliminar coleccion</button></td>
</table>

