

<div class="logo">
    <img src="../../../assets/imagenes/hvac.png" alt="">

</div>
<div class="textoPrincipal">
    <h1 id="textoHome">SELECCIONAR</h1>
    <h1 id="textoHome">EQUIPO</h1>
</div>




<div class="cuerpo">

<div class="contenedor">
<div class="row">

    <div class="col-6 col-md-4 centrar  ">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/equipos/R-410a_split_system.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">R-410a SPLIT</h5>
              
              <a (click)="info('R-410a SPLIT')" routerLink="/R410asplit" class="btn btn-primary">SERVICIO</a>
           
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4 centrar  ">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/equipos/precedent.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Precedent y voyager</h5>
            
            <a (click)="info('>Precedent y voyager')" routerLink="/precedent" class="btn btn-primary">SERVICIO</a>
          </div>
        </div>
  </div> 
    
</div>

</div>
<footer>
  <div class="container">
      <div class="row">
            <div class="col" id="company">
                <img src="../../../assets/imagenes/hvac.png" alt="" class="logo">
                <p>
                  HVAC SYSTEMS SUPPORT
                </p>
              
            </div>


            <div class="col" id="services">
               <h3>Servicios</h3>
               <div class="links">
                  <a href="#">Diseño</a>
                  <a href="#">Servicio</a>
                  <a href="#">Mantenimiento</a>
                
               </div>
            </div>

            <div class="col" id="useful-links">
               <h3>Links</h3>
               <div class="social">
                <ul class="wrapper">
                  <li class="icon twitter">
                    <span class="tooltip">WEB</span>
                    <span><i class="fab fa-twitter"></i></span>
                  </li>
                  <li class="icon instagram">
                    <span class="tooltip">fACEBOOK</span>
                    <span><i class="fab fa-instagram"></i></span>
                  </li>
                 
                </ul>
              </div>
            </div>

            <div class="col" id="contact">
                <h3>CONTACTO</h3>
               
                <div class="contact-details">
                   <i class="fa fa-phone"></i>
                   <p>+52- 427 149 6798</p>
                </div>
                <div class="contact-details">
                  <i style="width: 20px; height: 20px;" class="fal fa-envelope"></i>
                  <a href="mailto:David_rico_2000@hotmail.com ?Subject=Ayuda">David_rico_2000@hotmail.com</a>
                 
               </div>
            </div>
      </div>


  </div>
</footer>

</div>

