
<form  [formGroup]="formAct">




  
    <div formArrayName="preguntas" *ngFor="let pregunta of preguntasAct.controls; let a= index" >
      <div [formGroupName]="a" >
        <div class="form-group row" style="margin-top: 1rem;"  >
         
          <label class="col-md-1" [attr.for]="'paso' + a">Paso {{a}}</label>
          <div class="col-md-4">
            <input type="text" [attr.id]="'paso' + a" class="form-control" formControlName="descripcionP">
          </div>
          <label class="col-md-1" [attr.for]="'archivoD' + a">archivo</label>
          <div class="col-md-1">
            <input type="text" [attr.id]="'archivoD' + a" class="form-control" formControlName="archivoD">
          </div>
          <label class="col-md-1" [attr.for]="'imagen' + a">Imagen</label>
          <div class="col-md-1">
            <input type="text" [attr.id]="'imagen' + a" class="form-control" formControlName="imagen" >
          </div>
          <div class="col-md-1">
              <button class="btn btn-danger" >Agregar archivo</button>
            </div>
            <div class="col-md-1">
              <button class="btn btn-danger" >Agregar imagen</button>
            </div>
          <div class="col-md-1">
            <button class="btn btn-danger" (click)="removerPreguntaAct(a)">Remover</button>
          </div>
         
        </div>
      </div>
    </div>
  <br>
  
    <button type="submit" class="btn btn-success"(click)="submit()" [disabled]="formAct.invalid">Enviar</button> <br>
    <button type="button" class="btn btn-default" (click)="refrescarAct()">Refrsescar</button>
    <div class="form-group">
      <a class="btn btn-primary" (click)="agregarPreguntaAct()">Agregar Pregunta</a>
    </div>
   
  
  </form>